/* Light */
@font-face {
  font-family: 'NanumSquare';
  src: url('/font/NanumSquareL.otf') format('opentype');
  font-weight: 300;   /* Light */
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'NanumSquare';
  src: url('/font/NanumSquareR.otf') format('opentype');
  font-weight: 400;   /* Regular */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'NanumSquare';
  src: url('/font/NanumSquareB.otf') format('opentype');
  font-weight: 700;   /* Bold */
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'NanumSquare';
  src: url('/font/NanumSquareEB.otf') format('opentype');
  font-weight: 900;   /* ExtraBold */
  font-style: normal;
}