.now-building {
    background-color: bisque;
}
.go-back {
    background-color: darkblue;
}
.modify {
    background-color: darkorange;
}

.record {
    background-color: lavenderblush;
}

.download {
    background-color: skyblue;
}